.escolas {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}
.escolas__mapa {
    border-radius: 10px;
    width: 50% ;
    height: 50rem ;
    border:solid 5px #2b5675;
}
.escola__titulo {
    color: #2b5675;
    text-align: center;
    text-decoration:underline;
}
.escola__opiniao {
    padding: 1rem;
    border-radius: 10px;
    border: 5px solid #2b5675;
}
.escola__sobre {
    padding: 1rem;
    border-radius: 10px;
    border: 5px solid #2b5675;
}
.escola__subtitulo {
    color: #2b5675;
    margin-top: 2.5rem;
}
.escola__input {
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
}
.escola__input-area{
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
}
@media screen and (max-width: 769px) {
    .escolas {
        display: block;
    }
    .escolas__mapa {
        width: 99%;
        height: 20rem;
    }
    .escola__sobre {
        font-size: 0.5rem;
        margin-top: 2rem;
        height: 25rem;
    }
    .escola__opiniao {
        font-size: 0.5rem;
        margin-top: 2rem;
        height: 25rem;
    }
    .escola__titulo {
        font-size: 1rem;
    }
    .escola__subtitulo {
        font-size: 1rem;
        margin-top: 1rem;
    }

}
