@charset "UTF-8";

/*  Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}

/*  Variáveis  */
:root {
    --cor0: #e3f2fd;
    --cor1: #67ADD4;
    --cor2: #159A9C;
    --cor3: #317dc0;
    --cor4: #002333;
    --cor5: white;

    --font-destaque: 'Bebas Neue', cursive;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

/*  Navbar  */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor0);
    padding: 10px;
    align-items: center;
}

nav i.fa-solid {
    font-size: 20px;
    margin-right: 15px;
}

nav .sair a {
    color: var(--cor4);
}

nav .sair a:hover {
    color: var(--cor2);
}

main {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

/*  Cadastro Doador  */
section#cadastro {
    width: 80%;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

#form {
    align-self: center;
}

/*  Título Form  */
.top-form > h1 {
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 2em;
    margin-top: 1em;
    color: var(--cor4);
}

.top-form > h1::after {
    content: '';
    display: block;
    width: 2em;
    height: 0.2em;
    background-color: var(--cor2);
    border-radius: 10px;
}

.imagem {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: var(--cor0);
}

/*  Campo de Dados*/
.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 1em 1em 0em;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 15px;
    margin-left: 0px;
}

.input-box input {
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px
}

.input-box input:hover {
    box-shadow: 1px 1px 5px var(--cor2);
}

/*  Gênero  */
.genero-group {
    display: flex;
    margin: 10px 0px;
}

.input-genero {
    margin-right: 10px;
}

/*  Botão  */
.botao-continuar button {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor2);
}

.botao-continuar button a {
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

/*  Footer  */
footer {
    padding: 50px 20px 0px 20px;
    background-color: var(--cor4);
    color: var(--cor5);
}

footer .col-lg-3 {
    margin: auto;
    margin-top: 0px;
    text-align: justify;
}

footer p.titulo {
    font-size: 1.5em;
}

footer ul.social {
    display: flex;
    padding: 0px;
}

footer ul.social > li {
    padding-right: 10px;
}

footer ul.social a {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--cor5);
    background-color: var(--cor2);
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
}

footer ul.social a:hover {
    transition: 0.5s;
    background-color: var(--cor3);
    color: var(--cor5);
}

footer ul {
    list-style: none;
    padding: 0px;
}

footer ul a {
    color: var(--cor5);
}

footer ul li {
    margin-bottom: 10px;
}

footer ul a:hover {
    transition: 0.5s;
    color: var(--cor2);
}

/*  Footer Copy  */
footer .copy-right {
    display: flex;
    width: 350px;
    margin: auto;
}

footer .copy-right p.titulo {
    color: var(--cor2);
    margin-right: 10px;
}

footer .copy-right p {
    align-self: center;
}

@media screen and (max-width: 1030px) {
    section#cadastro {
        width: 80%;
    }
    
    #form h1 {
        margin-bottom: 20px;
    }

    .input-group {
        max-height: 10em;
        overflow-y: scroll;
        padding: 0px 10px;
        margin-bottom: 20px;
    }

    .input-box {
        width: 90%;
    }

    .genero-group {
        flex-direction: column;
    }

    .input-genero {
        padding-top: 5px;
    }
}

@media screen and (max-width: 830px) {
    .imagem img {
        display: none;
    }

    section#cadastro {
        border-radius: 10px;
    }

}

@media screen and (max-width: 380px) {
    #form {
        width: 80%;
    }

    .input-box ::placeholder {
        font-size: 0.7em;
    }

    footer .copy-right {
        max-width: 280px;
    }

    footer p.titulo {
        font-size: 1em;
    }

    footer p {
        font-size: 0.8em;
    }
}